services:
  db:
    image: mysql:8.0
    container_name: crud-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: justin_store # ganti dari crud_app
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    container_name: crud-web
    restart: always
    ports:
      - "3000:3000"
    env_file: # pastikan .env ada di root project
      - .env
    depends_on:
      - db

volumes:
  db_data:
